:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 12px;
}

main {
  max-width: 950px;
}

.rightalign {
  float: right;
  margin-left: 8px;
  width: 350px;
}

.leftalign {
  float: left;
  margin-right: 8px;
  width: 150px;
}

footer {
  max-width: 1400px;
}

.copy {
  font-size: 12px;
  text-align: center;
}

header,
main,
footer {
  padding: 8px 24px;
  margin: 0 auto;
}

h1 {
  margin: 8px 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#spinner {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-left: 4px solid #000000;
  animation: spinner-animation 1.2s infinite linear;
  position: fixed;
  top: 8px;
  right: 8px;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
